/* Website Styles */
* {
  font-size: 100%;
  margin:0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

header h1 {text-align: center;
border: 10px solid blue;}

header {
  border-bottom: 5px solid grey;
}

body {
  background-color:lightblue;
  color: black;
  font-family: Helvetica;
  font-size: 14px;
  }

header,
section,
footer {
  padding; 30px;
}

h1 {  color: Black;
      font-size: 36px;
      text-align: left;}

h2 {  font-size: 24px;}

h3 {  font-size: 18px;}

h1, h2, h3 {
  font-weight: 900;
  font-weight: bold;
  font-style: italic;}

h1, h2, h3 {
  margin-botton: 20px;
}

p {
margin: 15px 0;
}

ul, ol {
  margin: 15 px 0;
}

a {color: red;
  text-decoration: none;}
a:hover {text-decoration: underline;}

img {
  height: 300px;
}
